# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment files
.env
.env.*

# Django
db.sqlite3
staticfiles/
media/

# Logs
*.log

# IDE/editor
.vscode/
.idea/
*.iml

# Test / coverage
.coverage
.pytest_cache/
htmlcov/

# OS
.DS_Store
*.swp

# Rav
uv.lock
